{erl_opts, [
    nowarn_export_all
]}.

{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}},
    {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.17.4"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", {tag, "2.0.0-rc.2"}}}
]}.

{edoc_opts, [
    {preprocess, true} %% handle macro expansion in edoc
]}.

{clean_files, ["doc/*.html", "doc/*.png", "doc/edoc-info", "doc/*.css"]}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s lager -s hackney"}.
